<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smarttvalliance.dial.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/staicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:enabled="true">
        <activity
            android:name="org.smarttvalliance.dial.client.ui.DialServiceListActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.smarttvalliance.dial.client.ui.DialServiceDetailActivity"
            android:parentActivityName="org.smarttvalliance.dial.client.ui.DialServiceListActivity" 
            android:configChanges="orientation|screenSize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.smarttvalliance.dial.client.ui.DialServiceListActivity" />
        </activity>
        <service android:name="org.smarttvalliance.dial.client.core.DialUpnpServiceImpl"/>
    </application>

</manifest>
